.wrapper {
  max-width: 80rem;
  margin: auto;
}

.image-lock {
  position: relative;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}