// Colors
// Light Mode
$darkGrey: #858585;
$veryDarkBlue: #111517;
$lightGrey: #fafafa;

// Dark Mode
$darkBlue: #2b3945;
$veryDarkBlue: #202c37;

$black: #000;
$white: #fff;

// Typography 
$bigFont: 1.2rem;
$mediumFont: 1rem;
$smallFont: .875rem;

// Easing Functions
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);

// Break Points
$desktopBreakpoint: 1024px;
$tabletBreakpoint: 800px;
$mobileBreakpoint: 500px;